<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name=renderer content=webkit>
    <%
    var title = [];
    if (page.current > 1) title.push(__('page', page.current));
    if (page.title) title.push(page.title);
    if (page.category) title.push(page.category);
    if (page.tag) title.push(page.tag);
    if (page.archive) {
        if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
        else title.push(__('archive_a'));
    }
    title.push(config.title);
    %>
    <title><%= title.join(' | ') %></title>
    <% if (config.author){ %>
    <meta name="author" content="<%= config.author %>">
    <% } %>
    <% if (page.description){ %>
    <meta name="description" content="<%= page.description %>">
    <% } else if (config.description){ %>
    <meta name="description" content="<%= config.description %>">
    <% } else if (page.excerpt){ %>
    <meta name="description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>">
    <% } else if (page.content){ %>
    <meta name="description"
          content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
    <% } %>
    <% if (page.keywords){ %>
    <meta name="keywords" content="<%= page.keywords %>">
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <% if (page.title){ %>
    <meta property="og:title" content="<%= page.title %>"/>
    <% } %>
    <meta property="og:site_name" content="<%= config.title %>"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="//res.wx.qq.com/mpres/htmledition/images/favicon.ico" rel="Shortcut Icon">
    <link rel="stylesheet" href="<%- config.root %>css/style.css" type="text/css">
    <script src="<%- config.root %>js/zepto_modify.js"></script>
    <script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        function isWeiXin(){
            var ua = window.navigator.userAgent.toLowerCase();
            if(ua.match(/MicroMessenger/i) == 'micromessenger'){
                return true;
            }else{
                return false;
            }
        }
        if(isWeiXin()){
            document.title = "";
        }
        $(function(){
            if(typeof window.ontouchstart === 'undefined'){
                $(".container_hd-link").on("click",function (e) {
                    $(".col_side").toggleClass("col_side_show");
                })
            } else{
                $(".container_hd-link").on("tap",function (e) {
                    $(".col_side").toggleClass("col_side_show");
                })
                $(".col_main").on("tap",function (e) {
                    $(".col_side").removeClass("col_side_show");
                })
            }
            $(".col_side").on("touchstart touchmove",function (e) {
                e.stopPropagation();
                $('body',"container_box",".yue",".inner",".col_main",".container_bd").bind('touchmove',function(e){
                    e.preventDefault();
                    e.stopPropagation();
                    return false;
                });
            }).on("touchend",function (e) {
                e.stopPropagation();
                $('body',"container_box",".yue",".inner",".col_main",".container_bd").unbind('touchmove');
            })
        })

        if (typeof WeixinJSBridge == "object" && typeof WeixinJSBridge.invoke == "function") {
            alert("done1");
        } else {
            if (document.addEventListener) {
                document.addEventListener("WeixinJSBridgeReady", function () {
                    $(".inner img").tap(function () {
                        var imgUrls = [];
                        $(this).parents(".yue").find("img").each(function () {
                            imgUrls.push($(this).attr("src"));
                        });
                        WeixinJSBridge.invoke('imagePreview', {
                            current: $(this).attr("src"),
                            urls: imgUrls
                        }, function(res){
                            alert(res.err_msg);
                        });
                    })
                }, false);
            } else if (document.attachEvent) {
                document.attachEvent("WeixinJSBridgeReady", function () {});
                document.attachEvent("onWeixinJSBridgeReady", function () {});
            }
        }

    </script>
    <meta http-equiv="Expires" contect="<%- moment() %>">
    <meta http-equiv="Pragma" contect="no-cache">
</head>