<%- partial('head') %>
<body>
<div class="head" id="header">
    <div class="head_box">
        <div class="inner wrp">
            <div class="logo"><a href="https://mp.weixin.qq.com/" target="_blank" title="微信公众平台"></a></div>
        </div>
    </div>
</div>
<div id="body" class="body page_news ">
    <div class="container_box side_l cell_layout">
        <div class="container_hd">
            <h2>微信朋友圈广告规范</h2>
        </div>
        <div class="container_bd">
            <div class="col_side">
                <div class="menu_primary_box" id="myMenu">
                    <ul>
                        <% _.forEach(theme.sidebar, function(item){ %>
                        <li class="menu_primary_item<%- ((config.root + item.url +".html" === config.root+path) || (item.url2 && (config.root + item.url2 +".html" === config.root+path))) ? " selected" : "" %> <%= item.class || "" %>">
                            <a class="menu_primary_link" title="<%-item.name%>" href="<%-config.root%><%-item.url%>.html"><strong><%-item.name%></strong> </a>
                        </li>
                        <%})%>
                    </ul>
                </div>
            </div>
            <div class="col_main">
                <div class="inner">
                    <%- body %>
                </div>
            </div>
        </div>
    </div>
</div>
<%- partial('footer') %>
